.container-galeria-modal{
    background-color: #C9CCC5;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.btn-fechar{
    padding: 5px 10px 5px 10px;
    background-color: #89813B;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}
.btn-fechar:hover{
    background-color: #b6ac53;
}
.container-btn-fechar{
    display: flex;
    justify-content: end;
    margin-bottom: 60px;
}